/*

TypePad App: Content Nav
Six Apart
http://www.sixapart.com/

*/

.nav-content ul {
    margin-bottom: 10px;
}

.nav-content li {
    display: inline;
}

.nav-content li a {
    display: block;
    margin-bottom: 1px;
    padding: 6px 5px;
    color: #1e4469;
    font-size: 1.1em;
    line-height: 1.3;
    text-decoration: none;
    background-color: #9dc8ee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.nav-content li a span {
    display: block;
}

.nav-content li a:hover,
.nav-content li.yah a {
    color: #222;
    background-color: #d5ebf8;
}

.nav-content li.yah a span {
    padding-right: 17px;
    background-image: url(../../../images/app/global/leftnav-arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
}

.nav-content .nav-design {
    margin-top: 15px;
}

.nav-content .nav-design .nav-design-header,
.nav-content .nav-content-header {
    margin-bottom: 2px;
    color: #666;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
}

.nav-content #nav-design-collapsable .nav-design-header {
    padding-left: 10px;
    background-image: url(../../../images/app/design/nav/down.png);
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
}

.nav-content #nav-design-collapsable.collapsed .nav-design-header {
    background-image: url(../../../images/app/design/nav/right.png);
}

.nav-content .nav-design .nav-design-content {
    padding: 5px 5px 4px;
    background-color: #d5ebf8;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.nav-content .collapsed .nav-design-content {
    display: none;
}

.nav-content .nav-design .nav-design-pic {
    margin-bottom: 2px;
}

.nav-content .nav-design .nav-design-pic img {
    border: 1px solid #e5e5e5;
    padding: 1px;
    background-color: #fff;
}

.nav-content .nav-design .nav-design-name {
    margin-bottom: 5px;
    border-bottom: 1px solid #f0f5f8;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.2;
}

.nav-content .nav-design .nav-design-list {
    margin-bottom: 0;
}
