/*

TypePad App: Editor
Six Apart
http://www.sixapart.com/

*/


/* Sections and Headers */

.editor .editor-header,
.editor .editor-footer {
    position: relative;
    padding: 10px;
    background-color: #d5e9f5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}

.editor .editor-content {
    margin-bottom: 2px;
    padding: 0 5px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #999;
    -webkit-box-shadow: 1px 1px 2px #999;
    -moz-box-shadow: 1px 1px 2px #999;
}

.editor .editor-content-nav {
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
}

.editor .editor-content-nav .disabled {
    color: #999;
}

.editor .editor-content-main {
    padding: 20px 5px 5px;
}

.editor dd,
.editor-meta-item {
    margin-bottom: 15px;
}

.editor .dd-inner {
    margin-bottom: 5px;
}

.editor .content-title h3 {
    font-weight: bold;
    font-size: 1.4em;
}

.editor dt,
.editor .editor-meta h4 {
    font-weight: bold;
}

.editor .editor-footer input {
    margin: 0;
}

.editor .editor-header .header-actions {
    position: absolute;
    top: 14px;
    right: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
}

.editor .editor-header .header-actions .action {
    float: left;
    margin-left: 5px;
    padding: 3px 5px;
    background-color: #eaf4fa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}


/* Columns */

.editor .editor-content-nav .item-nav {
    width: 335px;
    margin-right: 20px;
}

.editor .editor-content-nav .item-ext {
    width: 335px;
    text-align: right;
}

.editor .editor-content-main .editor-full {
    margin: 0 10px;
}

.editor .editor-content-main .editor-fields {
    width: 470px;
    margin: 0 10px;
}

.editor .editor-content-main .editor-meta {
    width: 200px;
    margin: 0 10px;
}

.editor .editor-footer .primary-actions {
    width: 335px;
    margin-right: 20px;
}

.editor .editor-footer .secondary-actions {
    width: 335px;
    text-align: right;
}


/* Fields */

.editor .editor-fields .ti,
.editor .editor-fields .ta {
    width: 460px;
    margin: 0;
    font-size: 1.3em;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

.editor .editor-fields .ta {
    max-width: 460px;
}

.editor .editor-fields .ti-narrow {
    width: 100px;
}


/* Status Module */

.editor .editor-meta-status .qm-content {
    border: 1px solid #ccc;
    padding: 1px 1px 0;
}

.editor .editor-meta-status .qm-status {
    padding: 5px 15px;
    color: #000;
}

.editor .editor-meta-status .qm-status-published .qm-status {
    background-color: #8acb3d;
}

.editor .editor-meta-status .qm-status-unpublished .qm-status {
    background-color: #e87100;
}

.editor .editor-meta-status .qm-status-spam .qm-status {
    background-color: #9b6201;
}

.editor .editor-meta-status .qm-actions {
    margin-top: 1px;
    border-top: 1px solid #ccc;
    padding: 5px 5px 1px;
}

.editor .editor-meta-status .qm-action {
    margin-bottom: 4px;
}

.editor .editor-meta-status .qm-action a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    background-repeat: repeat-x;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.editor .editor-meta-status #qm-action-publish a {
    background-color: #8acb3d;
    background-image: url(../../../images/app/buttons/publish-bg.png);
}

.editor .editor-meta-status #qm-action-unpublish a {
    background-color: #e87100;
    background-image: url(../../../images/app/buttons/unpublish-bg.png);
}

.editor .editor-meta-status #qm-action-delete a {
    background-color: #b20009;
    background-image: url(../../../images/app/buttons/delete-bg.png);
}

.editor .editor-meta-status #qm-action-spam a {
    background-color: #9b6201;
    background-image: url(../../../images/app/buttons/spam-bg.png);
}


/* Info Module */

.editor .editor-meta-info table {
    width: 100%;
    border-top: 1px solid #ccc;
    line-height: 1;
}

.editor .editor-meta-info td {
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
}

.editor .editor-meta-info td.td-name {
    width: 40%;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    color: #666;
    text-align: right;
}

.editor .editor-meta-info td.td-value {
    padding-left: 5px;
}

.editor .editor-meta-info td.td-view {
    padding-left: 5px;
    text-align: right;
}


/* Thumbnail Module */

.editor .editor-meta-thumb .thumb-image {
    margin-bottom: 5px;
}


/* Template Editor */

.template-editor .editor-content-nav .item-nav {
    line-height: 22px;
}

.template-editor .editor-content-main .editor-fields {
    width: auto;
}

.template-editor .editor-content-main .editor-fields .two-up .col {
    width: 335px;
    margin-right: 20px;
}

.template-editor .editor-content-main .editor-fields .two-up .last-col {
    margin-right: 0;
}

.template-editor .editor-fields .two-up .ti {
    width: 325px;
}

.template-editor .editor-fields .ta {
    width: 680px;
    max-width: 680px;
    font-size: 1em;
    font-family: Monaco, monospace;
}

/* modal dialogue */
#clone-photo-dialog ul{height:100px;overflow:auto;border:1px solid #ccc;}